<div class="slideshow-container">
    <div class="mySlides fade">
      <div class="numbertext">1 / 5</div>
         <img src="./Frontend/imagenes/heder_for_site_0001.jpg" style="width: 100%">
     </div>
       <div class="mySlides fade">
        <div class="numbertext">2 / 5</div>
          <img src="./Frontend/imagenes/SliderIMG002.jpg" style="width: 100%">
        </div>
        <div class="mySlides fade">
           <img src="./Frontend/imagenes/animals-3017138_1280.jpg" style="width: 100%">
           <div class="numbertext">3 / 5</div>
        </div>
        <div class="mySlides fade">
           <img src="./Frontend/imagenes/animals-3751485_1280.jpg" style="width: 100%">
           <div class="numbertext">4 / 5</div>
       </div>
       <div class="mySlides fade">
        <img src="./Frontend/imagenes/imgslider002.jpg" style="width: 100%">
        <div class="numbertext">5 / 5</div>
        
    </div>