.publicaciones_productos h1 {
    justify-self: center;
    margin-top: 2em;
    margin-bottom: 1em;
    font-weight: 700;
    font-size: 3em;
    background-image: linear-gradient(120deg, #F09819,#EDDE5D 100%);
    background-repeat: no-repeat;
    background-size: 100% 0.2em;
    background-position: 0 100%;
}
.publicaciones_productos p {
    justify-self: center;
    font-weight: 400;
    font-size: 1.2em;
    margin-bottom: 2em;
}