
<div class="login-container">
    <div class="login-info-container">
      <h1 class="title">Registro</h1>
      <!-- <div class="social-login">
          <div class="social-login-element">
            <a href="https://www.google.com.ar/?hl=es" target="_blank" style="text-decoration:none"> <img src="../../../assets/imagenes/google.svg" alt="google-image">

              <span>Google</span>
            </a>

          </div>
          <div class="social-login-element">

            <a href="https://es-la.facebook.com/" target="_blank" style="text-decoration:none">
                <img src="../../../assets/imagenes/facebook.svg" alt="facebook-image">
                <span> Facebook</span>
            </a>
          </div>-->
      </div>
      <div class="row m-3"> 
      
      <form [formGroup]="form" class="form" >
        <label for="nombre" class="form-label">Nombre</label>
        <input class="input" type="text" id="nombre" class="form-control" formControlName="nombre"  [class.border-danger]="NombreValid">
          <div *ngIf="form.controls['nombre'].invalid && (form.controls['nombre'].dirty || form.controls['nombre'].touched)" class="text-danger">
            <div *ngIf="Nombre?.errors && Nombre?.touched">
              <p *ngIf="Nombre?.hasError('required')" class="text-danger">El nombre es requerido.</p>
            </div>
          </div>
        <label for="email" class="form-label">Email</label>
        <input class="input" type="text" id="email" class="form-control" formControlName="email"  [class.border-danger]="EmailValid">
          <div *ngIf="form.controls['email'].invalid && (form.controls['email'].dirty || form.controls['email'].touched)" class="text-danger">
            <div *ngIf="Email?.errors && Email?.touched">
              <p *ngIf="Email?.hasError('required')" class="text-danger">El email es requerido.</p>
            </div>
          </div>      
        <label for="password" class="form-label">Contraseña</label>
        <input class="input" type="password" id="password" class="form-control" formControlName="password"  [class.border-danger]="PasswordValid">
            <div *ngIf="form.controls['password'].invalid && (form.controls['password'].dirty || form.controls['password'].touched)" class="text-danger">
              <div *ngIf="password?.errors && password?.touched">
                <p *ngIf="password?.hasError('required')" class="text-danger">La contraseña es requerida.</p>
              </div>
            </div>
        <!-- <div>
          <select class="input form-select provincias" name="Provincia" aria-label="Default select example" oninput="getDepartamentos()" required>
            <option selected>Provincia</option>
        </select>
        <select class="input form-select departamentos" name="Departamento" aria-label="Default select example" disabled required>
            <option selected>Departamento</option>
        </select>
        </div> -->

        <button class="btn btn-primary mt-3">Registrarse</button>

      </form>
    
    </div>
      <img class="image-container" src="./assets/imagenes/Imagen Registrooo.jpeg" alt="perrito en una computadora">
</div>
