
<div class="login-container">
    <div class="login-info-container">
      <h1 class="title">Registro</h1>
      <!-- <div class="social-login">
          <div class="social-login-element">
            <a href="https://www.google.com.ar/?hl=es" target="_blank" style="text-decoration:none"> <img src="../../../assets/imagenes/google.svg" alt="google-image">

              <span>Google</span>
            </a>

          </div>
          <div class="social-login-element">

            <a href="https://es-la.facebook.com/" target="_blank" style="text-decoration:none">
                <img src="../../../assets/imagenes/facebook.svg" alt="facebook-image">
                <span> Facebook</span>
            </a>
          </div>
      </div> -->
      
      <form [formGroup]="registroUForm" (ngSubmit)="registroU()" class="inputs-container">
        
        <input class="input" type="nombre" placeholder="nombre" formControlName="nombre">
          <div *ngIf="registroUForm.controls['nombre'].invalid && (registroUForm.controls['nombre'].dirty || registroUForm.controls['nombre'].touched)" class="text-danger">
            <div *ngIf="registroUForm.controls['nombre'].errors?.['required']">
              Nombre requerido.
            </div>
          </div>
          <input class="input" type="telefono" placeholder="Telefono" formControlName="telefono">
            <div *ngIf="registroUForm.controls['telefono'].invalid && (registroUForm.controls['telefono'].dirty || registroUForm.controls['telefono'].touched)" class="text-danger">
              <div *ngIf="registroUForm.controls['telefono'].errors?.['required']">
                El Telefono es requerido.
              </div>
            </div>      
          <input class="input" type="email" placeholder="Correo" formControlName="email">
          <div *ngIf="registroUForm.controls['email'].invalid && (registroUForm.controls['email'].dirty || registroUForm.controls['email'].touched)" class="text-danger">
            <div *ngIf="registroUForm.controls['email'].errors?.['required']">
              El Email es requerido.
            </div>
            <div *ngIf="registroUForm.controls['email'].errors?.['email']">
              El Email debe tener un formato válido.
            </div>
          </div>
          <input class="input" type="password" placeholder="Contraseña" formControlName="password">
          <div *ngIf="registroUForm.controls['password'].invalid && (registroUForm.controls['password'].dirty || registroUForm.controls['password'].touched)" class="text-danger">
            <div *ngIf="registroUForm.controls['password'].errors?.['required']">
              La contraseña es requerida.
            </div>
        </div>
        <!-- <div>
          <select class="input form-select provincias" name="Provincia" aria-label="Default select example" oninput="getDepartamentos()" required>
            <option selected>Provincia</option>
        </select>
        <select class="input form-select departamentos" name="Departamento" aria-label="Default select example" disabled required>
            <option selected>Departamento</option>
        </select>
        </div> -->

        <button type="submit" class="btn" [disabled]="registroUForm.invalid">Registrarse</button>

      </form>
    </div>
      <img class="image-container" src="../../../assets/imagenes/encontrado7.jpg" alt="">
</div>
