<header class="despleg">
    <nav class="dws_menu">
        <a href="index.html"><img src="../../../assets/imagen/logo.png" alt="logo"></a>

        <input type="checkbox" name="toggle" id="menu" class="toggleMenu">
        <label for="menu" class="toggleMenu"><i class="fa-regular fa-bars"></i>Menu</label>
        <ul>
            <li><a href="index.html">Inicio</a></li>
            <li>
                <input type="checkbox" name="toggle" class="toggleSubmenu" id="sub_m1" >
                <a href="#">Buscador de mascotas</a>
                <label for="sub_m1" class="toggleSubmenu"><i class="fa"></i></label>
                <ul>
                    <li><a href="./Frontend/view/perdidos.html">Mascotas perdidas</a></li>
                    <li><a href="./Frontend/view/encontrados.html">Mascotas encontradas</a></li>
                    <li><a href="./Frontend/view/registromascotas.html">Registrar una mascota</a></li>
                 </ul>
                </li>
            <li><a href="./Frontend/view/MascotAdopcion.html">Mascotas en adopción</a></li>
            <li>	
                <input type="checkbox" name="toggle" class="toggleSubmenu" id="sub_m2">
                <a href="#">Productos</a>
                <label for="sub_m2" class="toggleSubmenu"><i class="fa"></i></label>
                <ul>
                    <li><a href="./Frontend/view/productos.html">ver Productos</a></li>
                    <li><a href="./Frontend/view/carrito.html">Carrito</a></li>
                    <li><a href="./Frontend/view/finalizaciondecompra.html">Finalizar la compra</a></li>
                </ul>
            </li>
            <li><a href="./Frontend/view/contacto.html">Contáctanos</a></li>
            <li>
                <input type="checkbox" name="toggle" class="toggleSubmenu" id="sub_m3">
                <a href="#">Log In</a>
                <label for="sub_m3" class="toggleSubmenu"><i class="fa"></i></label>
                <ul>
                    <li><a href="./Frontend/view/login.html">Login</a></li>
                    <li><a href="./Frontend/view/registro_us.html">Registro</a></li>
                </ul>
            </li>
        </ul>
    </nav>	
</header>
