<div id="container--carrito" class="container--carrito">
  <div class="productos descripcion">
    <div class="cart--container">
    <p class="producto">Producto</p>
    <p *ngFor="let item of items">
      <span class="item">{{ item.producto }}</span>
      </p>
    </div>
    <div class="cart--container">
    <p class="precio">Precio</p>
      <p *ngFor="let item of items">
      <span class="item">{{ item.precio|currency }}</span>
      </p>
    </div>
    <div class="cart--container">
    <p id="quantity">Cantidad</p>
      <p *ngFor="let item of items">
      <span class="item">{{ item.cantidad }}</span>
      </p>
    </div>
  </div>  
</div>
<div class="fin--container" id="fin--container">
  <button class="btn fin" id="fin">Finalizar la compra</button>
</div> 
